@page "/Consulta"



<div class="main">
   <div class="texto">
   <h2>Consulta de Vacunados</h2>
   <p>Consulta de todas las personas registradas.</p>
   </div>


<div class="page">
     <div class="search">
         <input type="text" @bind-value="campo">
         <button class="btn btn-primary" @onclick="buscar" >Buscar</button>
         <button class="btn btn-primary" >limpiar</button>
     </div>
 
  <div class="container">
    

   <table class="table table-bordered">

   <thead>

         <tr>
            <th>Cedula</th>
             <th>Nombre</th>
             <th>Apellido</th>
             <th>Provincia</th>
             <th>Fecha de Vacuna</th>
             <th>1ra Dosis</th>
             <th>2da Dosis</th>
         </tr>

   </thead> 
   <tbody class="tbody">
        
        @foreach (Records rcd in records)
        {
    
                        <tr>
                
                <td>@c.Citizens.Where(c=>c.Id == rcd.Citizen).FirstOrDefault().IdNumber</td>
                <td>@c.Citizens.Where(c=>c.Id == rcd.Citizen).FirstOrDefault().FirstName</td>
                <td>@c.Citizens.Where(c=>c.Id == rcd.Citizen).FirstOrDefault().LastName</td>
                <td>@c.Provinces.Where(p=>p.Id == rcd.Province).FirstOrDefault().Name</td>
                <td>@c.Vaccines.Where(p=>p.Id == rcd.Vaccine).FirstOrDefault().Name</td>
                <td>@rcd.FirstVacDate</td>
                <td>@rcd.LastVacDate</td>

                
            </tr>
        }
        

        
   </tbody>
 
</table>
</div>
</div>
</div>
@code{

    vaccineContext c = new vaccineContext();

    string campo = "";

    List<Records> records = new List<Records>();


    void buscar(){
        records = new vaccineContext().Records.Where(r=> r.CitizenNavigation.FirstName.Contains(campo) || r.CitizenNavigation.LastName.Contains(campo)).ToList();
        
            }

}